/* GENERICS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Rubik Mono One', sans-serif;
    overflow: hidden;
    scroll-behavior: smooth;
}
/* UTILS */

#bg-red {
    background-color: #ED3833;
}

#bg-green {
    background-color: #3A811D;
}

#bg-yellow {
    background-color: #FEF851;
}

.d-flex {
    display: flex;

}

/* SECTIONS */

section {
    height: 100vh;
    width: 100%;
    position: relative;
}

.contained {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-transform: uppercase;
    color: #FEF851;
    text-align: center;
    font-size: 45px;
}

.shoe {
    width: 700px;
}

#bg-yellow .contained h1{
    color: #3A811D;
}
 
/* NAVBAR */

#navbar {
    position: fixed;
    top: 0;
    right: 0;
}

ul {
    padding: 30px;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    margin-left: 30px;
    background-color: #FFF;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

#red a:hover {
    color: #ED3833;
}

#green a:hover {
    color: #3A811D;
}

#yellow a:hover {
    color: #FEF851;
}